!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GCECT Boys' Hostel
    -# %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    = favicon_link_tag 'favicon.ico' 
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_include_tag "application" 

  -# %body{class: "bg-[#f0f2f5]"}
  -#   = render(partial: 'layouts/top_nav_bar')
  -#   %div
  -#     = render(partial: 'layouts/side_nav_bar')
  -#     = yield
    -# = link_to 'Logout', destroy_student_session_path, method: :delete, data: { turbo: 'false' }
    

  %body.font-sans.leading-normal.tracking-normal.w-full
    %header
      = render(partial: 'layouts/top_nav_bar')
    %main
      .flex.flex-col.md:flex-row.overflow-y-hidden
        = render 'layouts/side_nav_bar'
        %section.w-full
          #main.main-content.flex-auto.md:px-6.md:py-3.w-full.bg-slate-50.h-screen.overflow-y-auto
            .flex.items-center.justify-between.mb-2
              -# .breadcrumbs
              -#   = breadcrumbs.render(format: :inline, separator: "•")
            = yield
    #flash.flash
      = render 'layouts/flash_notifications'
    %footer